/* CSS declarations go here  */

#cy {
  width : 75vw;
  height: 100vh;
  position: absolute;
  float: right;
  background-color: #D1EEEE;
}

#listStack {
    width: 25vw;
    height: 100vh;
    float: left;
}

.scrollable-menu {
    padding-left: 0;
    height: 100vh;
    overflow-x: hidden;
}

.scrollable-menu a {

    text-decoration: none;
    background-color: #FFEF93;
}

.scrollable-menu hr {
    margin: 0;
}

.scrollable-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: none;
}

.scrollable-menu li:hover {
    background-color: #AAAAAA;
}

.scrollable-menu .highlight {
    background-color: #BEBEBE;
}

#infoBox{
  visibility: hidden;
}

.navbar{
  margin-bottom: 0;
}

#signin{

}



/*
#add {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  z-index: 9999;
}

#init {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0.5em;
  z-index: 9999;
}*/

