/* CSS declarations go here  */

#cy {
  width : 75vw;
  height: 100vh;
  position: absolute;
  float: right;
    z-index: 50;
  background-color: #D1EEEE;
}

#listStack {
    width: 25vw;
    height: 100vh;
    float: left;
}

.scrollable-menu {
    padding-left: 0;
    height: 100vh;
    overflow-x: hidden;
}

.scrollable-menu a {

    text-decoration: none;
    background-color: #FFEF93;
}

.scrollable-menu hr {
    margin: 0;
}

.scrollable-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: none;
}

.scrollable-menu li:hover {
    background-color: #AAAAAA;
}

.scrollable-menu .highlight {
    background-color: #BEBEBE;
}

#infoBox {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 300px;
    height: 350px;
    z-index: 100;
  visibility: hidden;
}

#comment-text {
    font-size: 12px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}




#addNodeForm label{
    display: block;
}
#addNodeForm select{
    display: block;
}

#commentBox {
    background-color: white;
    display: block;
}

#closeInfoBox {
    display: block;
}

.navbar {
  margin-bottom: 0;
}

#toggle-box {
    background-color: #e7e7e7;
    width: 25vw;
}

#toggle-box ul {
    padding: 0;
    width: 25vw;
    margin: 0;
    display: table;

}

#toggle-box li{
    padding: 5px;
    text-align: center;
    display: table-cell;
    list-style-type: none;
}

#toggle-box .highlight {
    background-color: #A5A5A5;
}

#toggle-box li+li { border-left: 1px solid #000000 }

#toggle-box li a {
    text-decoration: none;
    display: block;
    margin: 0 5px;
}

#updateLayout {
    position: absolute;
    top: 70px;
    left: 600px;
    width: 120px;
    height: 40px;
    background-color: #e7e7e7;
    z-index: 999;
}






/*
#add {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  z-index: 9999;
}

#init {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0.5em;
  z-index: 9999;
}*/

