/* CSS declarations go here  */

#cy {
  width : 100vw;
  height: 50vw;
  position: absolute;
  background-color: #D1EEEE;
}

#infoBox{
  visibility: hidden;
}

.navbar{
  margin-bottom: 0px;
}

#signin{

}


/*
#add {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  z-index: 9999;
}

#init {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0.5em;
  z-index: 9999;
}*/

