<template name="infobox">

    {{#if addNode}}
        <h3>Add Comment</h3>
        <form class="navbar-form navbar-left" role="add" id="addNode">
            <div class="form-group" id="addNodeForm">
                {{#if quotingComment}}
                    <select class="form-control" id="sel1">
                        <option>Quote-Reply</option>
                    </select>

                    <label for="quote">Quote:</label>
                    <textarea class="form-control" rows="1" id="quote">"{{quoteMaterial}}"</textarea>
                {{else}}
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>Post</option>
                        <option>Reply</option>
                        <option>Quote-Reply</option>
                        <option>Disagree</option>
                    </select>
                {{/if}}

                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button class="btn btn-primary btn-sm" type="submit"  id="submit">
                Add Comment <span class="fa fa-comment"></span>
            </button>
        </form>
    {{else}}
        <div id="commentBox">
        {{#if editMode}}
            <form class="navbar-form navbar-left" role="update" id="updateNode">
            <textarea class="form-control" rows="5" id="comment">{{currentSelection.data.name}}</textarea>
            <button class="btn btn-primary btn-sm" type="submit"  id="submit">
                Save Comment <span class="fa fa-comment"></span>
            </button>
            </form>
        {{else}}


            {{#if quotedComment currentSelection.data.quote.present}}
                <blockquote>{{currentSelection.data.quote.quoteText}}</blockquote>
            {{/if}}
            <p id="comment-text">{{currentSelection.data.name}}</p>
        {{/if}}
        </div>
        <div id="options">
            <div id="subscribe">
                <table>
                    <tr>
                        <td>
                            <button type="button" id="subscribe-user" {{signedIn}}><i class="fa fa-plus-circle" style="font-size: 1.2em;" aria-hidden="true"></i></button>
                        </td>
                        <td>
                            <button type="button" id="quote-comment"><i class="fa fa-reply" style="font-size: 1.2em;" aria-hidden="true"></i></button>
                        </td>
                        <td>
                                <button type="button" id="edit-comment" {{sameUser}}><i class="fa fa-pencil-square-o" style="font-size: 1.2em;" aria-hidden="true"></i></button>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {{/if}}

</template>
