<template name="listStack">
    <div id="toggle-box">
        <ul>
            <li class="{{toggleSort "edgeConnect"}}"><a href="#" id="edgeConnect">Connectivity</a></li>
            <li class="{{toggleSort "recentPost"}}"><a href="#" id="recentPost">Date Posted</a></li>
            <li class="{{toggleSort "userActivity"}}"><a href="#" id="userActivity">User Activity</a></li>
            <li class="{{toggleSort "commentHierarchy"}}">
                {{#if nodeSelected}}
                    <a href="#" id="commentHierarchy">Comment Hierarchy</a>
                {{else}}
                    Comment Hierarchy
                {{/if}}
            </li>
        </ul>
    </div>
    <div id="listStack">
        <ul class="scrollable-menu" id="hiddenBullet" role="menu">
            {{#each comment}}
                <a href="#">
                    {{#if tiered}}
                        <li class="{{highlightTiered}}" id="{{nodeIdTiered}}" style="margin-left: {{indent}}px; border-left: #777777 solid medium;">
                            <div>{{this.node.data.name}}</div>
                            <div>Posted By: {{this.node.data.user.user}}</div>
                            <div>{{dateTiered}}</div>
                        </li><hr />
                    {{else}}
                        <li class="{{highlight}}" id="{{nodeId}}">
                            <div>{{this.data.name}}</div>
                            <div>Posted By: {{this.data.user.user}}</div>
                            <div>{{date}}</div>
                        </li><hr />
                    {{/if}}

                </a>
            {{/each}}
        </ul>

    </div>
</template>